@import url('https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap');
*{
    font-family: 'Asap', sans-serif; 

}

body {
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    height: 100vh;
    float:left;
    z-index: 1;
}

#routeButton1{
    background-color: #ffffff;
    border-radius: 20px;
    color: #030303;
    padding: 5px 6px;
    border: none;
    font-size: 16px;
    margin:  4px 2px;
    position: absolute;
    z-index: 2;
    left: 50px;
    top: 7px;
}
#routeButton2{
    background-color: #ffffff;
    border-radius: 20px;
    color: #030303;
    padding: 5px 6px;
    border: none;
    font-size: 16px;
    margin:  4px 2px;
    position: absolute;
    z-index: 2;
    left: 22%;
    top: 7px;
}
#routeButton3{
    background-color: #ffffff;
    border-radius: 20px;
    color: #030303;
    padding: 5px 6px 5px 11px;
    border: none;
    font-size: 16px;
    margin:  4px 2px;
    position: absolute;
    z-index: 2;
    left: 37%;
    top: 7px;
}
#routeButton4{
    background-color: #ffffff;
    border-radius: 20px;
    color: #030303;
    padding: 5px 6px;
    border: none;
    font-size: 16px;
    margin:  4px 2px;
    position: absolute;
    z-index: 2;
    left: 47%;
    top: 7px;
}
#routeButton5{
    background-color: #ffffff;
    border-radius: 20px;
    color: #030303;
    padding: 5px 6px;
    border: none;
    font-size: 16px;
    margin:  4px 2px;
    position: absolute;
    z-index: 2;
    left: 774px;
    top: 7px;
}
